<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Create Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h3> Add/Edit Product</h3>
    <form action="#" th:action="@{/product/image/new}" th:object="${product}" method="post"  enctype="multipart/form-data">
        <div>
            <label for="title">Title</label>
            <input type="text" th:field="*{title}"
                        id="title" placeholder="Title" />
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" th:field="*{description}"
                        id="description" placeholder="Description" />
        </div>
        <div>
            <label for="price">Price</label>
            <input type="text" th:field="*{price}"
                        id="price" placeholder="$" />
        </div>

        <div>
            <label for="sku">SKU</label>
            <input type="text" th:field="*{sku}"
                   id="sku" placeholder="SKU" />
        </div>

        <div>
            <label for="quantity">Quantity</label>
            <input type="text" th:field="*{quantity}"
                   id="quantity" placeholder="Quantity" />
        </div>


        <div>
            <label for="image">Photos</label>
            <input id="image" type="file" name="image"
                   accept="image/png, image/jpeg" />
        </div>

        <input type="hidden" id="user_id" name="user_id" th:value="${user.id}">
        <input type="hidden" id="id" name="id" th:value="${product.id}">

        <div>
            <input type="submit" value=" Submit ">
        </div>
    </form>

    <div>
        <a href="/every-products">Go back to every product</a> <br>
    </div>
</body>

</html>