<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <meta charset="UTF-8">
    <script src="https://js.stripe.com/v3/"></script>
    <title>New Stripe Checkout</title>
</head>
<body>
<button type="button" id="checkout-button">Pay</button>
<script>
    const stripe = Stripe('pk_test_51IQ6naGST3T0b5lW4XIM8SsqaS7GAHWFD2BjrcTY4Z0dyJd5KUElLp4vAAhFmZIMjfcXSfFGmoWZAoKMUiMHDzL400MRyiRqAb');
    const checkoutButton = document.querySelector('#checkout-button');

    checkoutButton.addEventListener('click', function () {
        console.log("Reached here!");
        stripe.redirectToCheckout({
            lineItems: [{
                // Define the product and price in the Dashboard first, and use the price
                // ID in your client-side code.
                price: '{price_1IXpPjGST3T0b5lWWNE3doob}',
                quantity: 1
            }],
            mode: 'payment',
            successUrl: 'http://result-failed',
            cancelUrl: 'http://result-success'
        });
    });</script>
</body>
</html>